.header{
    width: 100%;
    margin-top: 60px;
}


.header-title{
    font-family: 'Lora', serif;
    display: flex;
    flex-direction: column;
    align-items: center;
   
}
.main-header{

font-size: 150px;
position: absolute;
top: 15%;
color: black;

}
.secondary-header{
    font-size: 25px;
    position: absolute;
    top: 14%;
    color: #777;
}
.img-header{
    width: 100%;
    height: 800px;
    margin-top: 140px;
    object-fit:cover;
}
